@use "../utils/variables";

.button {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: variables.$darkGreen;
  background-color: variables.$darkGreen;
  color: variables.$white;
  cursor: pointer;
}
