@use "../utils/variables";

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  & label {
    font-weight: bold;
  }
  & input {
    padding: 5px;
    font-size: 1.2rem;
  }
  & span {
    color: variables.$darkRed;
    font-size: 13px;
  }
}

.inputRemember {
  display: flex;
  & label {
    margin-left: 0.25rem;
  }
}
