$lightGreen: #42B983; // $primary
$darkGreen: #00BC77; // $primary-light
$darkRed: #DD4B39; // $alert
$darkBlue: #2C3E50; // $secondary
$darkGrey: #222222; // $secondary-dark
$darkViolet: #12002b; // $bg-dark
$black: #000000;
$white: #ffffff;

$breakpoints: (mobile: 375px, mobileXl: 450px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$middleZIndex: 5;
$topZIndex: 10;
