$red: #E60000;
$redOpacity: rgba(255, 0, 0, 0.07);
$blueOpacity: rgba(74, 184, 255, 0.07);
$yellowOpacity: rgba(249, 206, 35, 0.07);
$pinkOpacity: rgba(253, 81, 129, 0.07);
$grey: #C4C4C4;
$greyBlack: #282D30;
$black: #020203;
$white: #ffffff;
$whiteGrey: #FBFBFB;

$redText: #FF0101;
$greyText: #74798C;
$blackText: #20253A;

$breakpoints: (mobile: 375px, mobileXl: 450px, tablet: 768px, laptop: 1024px, desktop: 1440px);

$middleZIndex: 5;
$topZIndex: 10;
