.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer__text {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.nav a {
  font-weight: bold;
  color: #2C3E50;
}
.nav a.router-link-exact-active {
  color: #42B983;
}
.nav_logo_img {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 200px;
}
.nav_item {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-decoration: none;
}
.nav_item:hover {
  text-decoration: underline;
}

.button {
  position: relative;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00BC77;
  background-color: #00BC77;
  color: #ffffff;
  cursor: pointer;
}

.features {
  display: flex;
  flex-direction: column;
}
.features_item {
  flex: 1;
  padding: 2.5rem;
}
.features_item_icon {
  width: 100px;
  border: 10px solid #00BC77;
  border-radius: 50%;
  padding: 1rem;
}
.features_item_title {
  color: #222222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.hero {
  background-image: url("/src/assets/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.hero_content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero_content_subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero_content_text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 33%;
  }
  .hero_content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero_content_subtitle {
    font-size: 1.5rem;
  }
  .hero_content_text {
    font-size: 1.2rem;
  }
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.input-wrapper label {
  font-weight: bold;
}
.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.input-remember {
  display: flex;
}
.input-remember label {
  margin-left: 0.25rem;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notFound_title {
  font-size: 65px;
  color: #000000;
}
.notFound_text {
  color: #000000;
  margin: 15px;
}
.notFound_button {
  color: #ffffff;
  width: max-content;
}

.signIn_content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 3rem auto 0 auto;
  padding: 2rem;
}
.signIn_icon {
  font-size: 5rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  text-align: center;
  color: #2C3E50;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-dark {
  background-color: #12002b;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
