// Utiles
@use "utils/variables";

// Layout
@use "layout/footer";
@use "layout/navBar";

// Components
@use "components/account";
@use "components/button";
@use "components/features";
@use "components/formEditName";
@use "components/hero";
@use "components/inputField";

// Pages
@use "pages/notFound";
@use "pages/signIn";
@use "pages/user";

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body {
  text-align: center;
  color: variables.$darkBlue;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-dark {
  background-color: variables.$darkViolet;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
